body {
    background-color: beige;
}

.artifacts-image {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.artifact-image {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 33%;
    margin: 0 auto;
}

.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}
