{% extends 'base.html' %}


{% block page_title %}About us{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-10">
        
        <!-- ABOUT US -->
        <div class="row">
            <div class="col-12 text-center">
                <h2>Who are we?</h2>
            </div>
            <div class="col-12">
                <p>Monica's Auction is the result of the Full Stack Frameworks with Django Milestone Project made by Monica Rasquin. It represents in a simple way how an Auction house works. The whole back & front end was designed and build by Rasquin. All the content material here presented, including artifacts, prices, pictures, information and won auction is fictional.   </p>
                <p>I hope the jury of this project like the job here presented.</p>
                <p>Kind Regards,</p>
                <p>Monica Y Rasquin C</p>
                
            </div>
        </div>
        <!-- Auction's Conditions -->
        <div class="row">
            <div class="col-12 text-center">
                <h2>Auction's Conditions</h2>
            </div>
            <div class="col-12">
                <p>Monica's Auction strives to provide as much information as possible but encourages in-person inspection by bidders. Statements regarding the condition of objects are only for general guidance and should not be relied upon as complete statements of fact, and do not constitute a representation, warranty or assumption of liability by Monica's. Some condition issues may not be noted in the condition report but are apparent in the provided photos which are considered part of the condition report. Please note that we do not de-frame lots estimated at $1,000 or less and may not be able to provide additional details for lots valued under $500. All lots are sold "AS IS" under the Terms & Conditions of Auction. </p>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}