{% extends 'base.html' %}

{% block page_title %}Monica's Auction{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-10">
        
        <!-- Artifact Image-->
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <div class="artifact-image" style="background-image: url('{{ MEDIA_URL }}{{ artifact.image }}')"></div>
            </div>
        </div>
        
        
        <!-- Artifact Name & Auction dates-->
        <div class="row text-center">
            <div class="col-12">
                <h2>{{ artifact.name }}</h2>
            </div>
            <div class="col-12">
                <p>Bidding started on {{ artifact.published_date }}</p>
            </div>
            <div class="col-12">
                <p>Bidding finish on {{ artifact.end_date }}</p>
            </div>
        </div>
        
        <!-- Artifact box details -->
        <div class="row">
            
            <!-- Info about artifact-->
            <div class="col-12 col-md-9">
                <!-- Artifact Lote-->
                <div class="row">
                    <div class="col-12">
                        <p class="font-weight-bold">Lote number:</p>
                    </div>
                    <div class="col-12">
                        <p>{{ artifact.id }}</p>
                    </div>
                </div>
                <!-- Artifact Origin-->
                <div class="row">
                    <div class="col-12">
                        <p class="font-weight-bold">Origin:</p>
                    </div>
                    <div class="col-12">
                        <p>{{ artifact.origin }}</p>
                    </div>
                </div>
        
                <!-- Artifact Year-->
                <div class="row">
                    <div class="col-12">
                        <p class="font-weight-bold">Year:</p>
                    </div>
                    <div class="col-12">
                        <p>{{ artifact.year }}</p>
                    </div>
                </div>
        
                <!-- Artifact Description-->
                <div class="row">
                    <div class="col-12">
                        <p class="font-weight-bold">Description:</p>
                    </div>
                    <div class="col-12">
                        <p>{{ artifact.description }}</p>
                    </div>
                </div>
        
                <!-- Artifact Crafting-->
                <div class="row">
                    <div class="col-12">
                        <p class="font-weight-bold">Crafting:</p>
                    </div>
                    <div class="col-12">
                        <p>{{ artifact.crafting }}</p>
                    </div>
                </div>
        
                <!-- Artifact Trajectory-->
                <div class="row">
                    <div class="col-12">
                        <p class="font-weight-bold">Trajectory:</p>
                    </div>
                    <div class="col-12">
                        <p>{{ artifact.trajectory }}</p>
                    </div>
                </div>
            </div>
            
            <!-- Bidding & Inmediate buying-->
            <div class="col-12 col-md-3">
                <!-- Experts value-->
                <div class="row text-center">
                    <div class="col-12">
                        <p class="font-weight-bold">Expert's value:</p>
                    </div>
                    <div class="col-12">
                        <p>€ {{ artifact.expert_value }} aprox</p>
                    </div>
                </div>
                <!-- Bidding-->
                <div class="row text-center">
                    <!-- Current Bidding-->
                    {% if artifact.current_bidding_price < artifact.minimun_bidding_price %}
                    <div class="col-12">
                        <p class="font-weight-bold">Minimun Bidding:</p>
                    </div>
                    <div class="col-12">
                        <p>€ {{ artifact.minimun_bidding_price }}</p>
                    </div>
                    {% else %}
                    <div class="col-12">
                        <p class="font-weight-bold">Current Bidding:</p>
                    </div>
                    <div class="col-12">
                        <p>€ {{ artifact.current_bidding_price }} - {{ user.username }}</p>
                    </div>
                    {% endif %}
                    <!-- Place New Bidding Form-->
                    <div class="col-12">
                        <form method="post" action="{% url 'place_bidding' artifact.pk %}">
                            {% csrf_token %}
                            
                            <div class="row form-group">
                                <div class="col-12">
                                    
                                    <input name="new_bidding" type="number" min="1"  class="form-control"  placeholder="€€€" >
                                </div>
                                <div class="col-12">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" type="submit">New Bid</button>
                                    </span>
                                </div>
                                
                                
                            </div>
                        </form>
                    </div>
                
                </div>
                    
                <!-- Inmediately Buy-->
                <div class="row text-center">
                    <!-- Buying Price-->
                    <div class="col-12">
                        <p class="font-weight-bold">Inmediate buying price:</p>
                    </div>
                    <div class="col-12">
                        <p>€ {{ artifact.buy_now_price }}</p>
                    </div>
                    <!-- Buying form-->
                    <div class="col-12">
                        <a class="btn btn-primary" href="{% url 'checkout' pk=artifact.pk %}" role="button">Buy Now !!!</a>
                    </div>
                </div>
                
                {% if messages %}
                <div class="alert alert-success">
                    <div class="messages">
                        {% for message in messages %} {{ message }} {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        
        
        
        
    </div>
</div>
{% endblock %}